xsd/calendar_invite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="message" type="CalendarInviteMessageType"/>

    <xs:complexType name="CalendarInviteMessageType">
        <xs:sequence>
            <xs:element name="header" type="CalendarInviteHeaderType"/>
            <xs:element name="body" type="CalendarInviteBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteHeaderType">
        <xs:sequence>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="calendar_invite"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="version">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="2.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteBodyType">
        <xs:sequence>
            <xs:element name="user_id" type="xs:string" minOccurs="0"/>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="start_datetime" type="xs:dateTime"/>
            <xs:element name="end_datetime" type="xs:dateTime"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <!-- attendee_email: verplicht per contract §17.2 -->
            <xs:element name="attendee_email" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
