xsd/session_deleted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:integration:planning:v1"
    xmlns="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="message" type="SessionDeletedMessageType"/>

    <xs:complexType name="SessionDeletedMessageType">
        <xs:sequence>
            <xs:element name="header" type="SessionDeletedHeaderType"/>
            <xs:element name="body" type="SessionDeletedBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SessionDeletedHeaderType">
        <xs:sequence>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="session_deleted"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="version" type="xs:string" minOccurs="0"/>
            <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SessionDeletedBodyType">
        <xs:sequence>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="reason" type="xs:string" minOccurs="0"/>
            <xs:element name="deleted_by" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
