xsd/session_delete_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="message" type="SessionDeleteRequestMessageType"/>

    <xs:complexType name="SessionDeleteRequestMessageType">
        <xs:sequence>
            <xs:element name="header" type="SessionDeleteRequestHeaderType"/>
            <xs:element name="body" type="SessionDeleteRequestBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SessionDeleteRequestHeaderType">
        <xs:sequence>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="session_delete_request"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="version">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="2.0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SessionDeleteRequestBodyType">
        <xs:sequence>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="reason" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
