xsd/user_sessions_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="UUIDType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
    </xs:restriction>
  </xs:simpleType>

  <!--
    user_sessions_response — Planning → Kassa (RPC response)
    Published by Planning in reply to a user_sessions_request.
    The correlation_id matches the request's correlation_id.
    Routing key: planning.to.kassa.user_sessions_response
  -->
  <xs:element name="message">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="header">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="message_id"     type="UUIDType"/>
              <xs:element name="timestamp"      type="xs:dateTime"/>
              <xs:element name="source">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="planning"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="type">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="user_sessions_response"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="version">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="2.0"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <!-- Must match the correlation_id from the request -->
              <xs:element name="correlation_id" type="UUIDType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="body">
          <xs:complexType>
            <xs:sequence>
              <!-- Echoes back the identity_uuid from the request -->
              <xs:element name="identity_uuid" type="UUIDType"/>
              <!-- ok | not_found -->
              <xs:element name="status">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="ok"/>
                    <xs:enumeration value="not_found"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="session_count" type="xs:nonNegativeInteger"/>
              <xs:element name="sessions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="session" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="session_id"        type="xs:string"/>
                          <xs:element name="title"             type="xs:string"/>
                          <xs:element name="start_datetime"    type="xs:dateTime"/>
                          <xs:element name="end_datetime"      type="xs:dateTime"/>
                          <xs:element name="location"          type="xs:string"/>
                          <xs:element name="session_type">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="keynote"/>
                                <xs:enumeration value="workshop"/>
                                <xs:enumeration value="reception"/>
                                <xs:enumeration value="other"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="status">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="draft"/>
                                <xs:enumeration value="published"/>
                                <xs:enumeration value="cancelled"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="max_attendees"     type="xs:positiveInteger"/>
                          <xs:element name="current_attendees" type="xs:nonNegativeInteger"/>
                          <!-- Price the attendee owes for this session (optional; absent = free or unknown) -->
                          <xs:element name="price" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:decimal">
                                  <xs:attribute name="currency" type="xs:string" fixed="eur" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="speaker" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="identity_uuid" type="UUIDType" minOccurs="0"/>
                                <xs:element name="contact">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="first_name" type="xs:string"/>
                                      <xs:element name="last_name"  type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="organisation" type="xs:string" minOccurs="0"/>
                                <xs:element name="email"        type="xs:string" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
