schemas/calendar_invite.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:integration:planning:v1"
    xmlns="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="message" type="CalendarInviteMessageType"/>

    <xs:complexType name="CalendarInviteMessageType">
        <xs:sequence>
            <xs:element name="header" type="CalendarInviteHeaderType"/>
            <xs:element name="body" type="CalendarInviteBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteHeaderType">
        <xs:sequence>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="calendar.invite"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteBodyType">
        <xs:sequence>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="start_datetime" type="xs:dateTime"/>
            <xs:element name="end_datetime" type="xs:dateTime"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <xs:element name="user_id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
