schemas/calendar_invite_confirmed.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:integration:planning:v1"
    xmlns="urn:integration:planning:v1"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xs:element name="message" type="CalendarInviteConfirmedMessageType"/>

    <xs:complexType name="CalendarInviteConfirmedMessageType">
        <xs:sequence>
            <xs:element name="header" type="CalendarInviteConfirmedHeaderType"/>
            <xs:element name="body" type="CalendarInviteConfirmedBodyType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteConfirmedHeaderType">
        <xs:sequence>
            <xs:element name="message_id" type="xs:string"/>
            <xs:element name="timestamp" type="xs:dateTime"/>
            <xs:element name="source" type="xs:string"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="calendar.invite.confirmed"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="version" type="xs:string" minOccurs="0"/>
            <xs:element name="correlation_id" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CalendarInviteConfirmedBodyType">
        <xs:sequence>
            <xs:element name="session_id" type="xs:string"/>
            <xs:element name="original_message_id" type="xs:string"/>
            <xs:element name="status">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="confirmed"/>
                        <xs:enumeration value="failed"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Present only for non-Outlook users: iCalendar subscription URL.
                 Replace http:// with webcal:// for direct calendar-app subscription. -->
            <xs:element name="ics_url" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
